* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.header--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  flex-direction: column;
}

.header--container h1 {
  letter-spacing: 2px;
  font-size: 50px;
  padding-bottom: 5px;
  color: #102a42;
  font-weight: 900;
}

.underline {
  width: 80px;
  height: 4px;
  background-color: #2caeba;
}

.flex--container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 40px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 40px;

  width: 23%;
}

.about--container {
  width: 75%;
}

.buttons button {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 25px;
  padding: 5px;
}

.about--info {
  padding-left: 20px;
}

.about--info h3 {
  font-size: 30px;
  font-weight: 400;
}

.about--info h4 {
  background-color: #dae2ec;
  width: 92px;
  height: 28px;
  text-align: center;
  color: #617d98;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.about--info .dates {
  font-size: 20px;
  color: #869aac;
  letter-spacing: 2px;
  font-weight: 400;
  padding-bottom: 10px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description p {
  color: #324d67;
  width: 80%;
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  padding: 10px;
}

.more--info {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more--info button {
  width: 193px;
  height: 40px;
  font-size: 18px;
  color: antiquewhite;
  background-color: #2caeba;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}

.more--info button:hover {
  background-color: #88ebf2;
  color: #044e53;
}

.buttons button {
  cursor: pointer;
}

.buttons button:hover {
  border-left: 2px solid #2caeba;
  padding-left: 30px;
  color: #2caeba;
}

@media only screen and (max-width: 768px) {
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 25px 50px 15px 0;
    width: 20%;
  }
  .flex--container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
  }
}
